noderedflow.json
[{"id":"3e77d543.c1882a","type":"ibmiot in","z":"258a6e5b.a29e12","authentication":"apiKey","apiKey":"6d597771.99f088","inputType":"evt","deviceId":"HealthCare","applicationId":"","deviceType":"yuvaraj","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":true,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":true,"allFormats":true,"qos":"0","x":100,"y":400,"wires":[["ae0082ac.51ff8"]]},{"id":"ae0082ac.51ff8","type":"function","z":"258a6e5b.a29e12","name":"temp","func":"return {payload:{\"name\":\"bpmPr\",\"bpmPrvalue\":msg.payload.bpmPr}};","outputs":1,"noerr":0,"x":290,"y":400,"wires":[["ff6ad0d9.00953"]]},{"id":"ff6ad0d9.00953","type":"switch","z":"258a6e5b.a29e12","name":"temp thresh","property":"payload.bpmPrvalue","propertyType":"msg","rules":[{"t":"lte","v":"90","vt":"str"},{"t":"gt","v":"90","vt":"str"}],"checkall":"true","outputs":2,"x":450,"y":400,"wires":[["80621eff.7f9de"],["8e1706a.f71e8f8"]]},{"id":"5dad02b7.a252fc","type":"debug","z":"258a6e5b.a29e12","name":"cpu status","active":true,"complete":"true","x":790,"y":400,"wires":[]},{"id":"80621eff.7f9de","type":"template","z":"258a6e5b.a29e12","name":"safe","field":"payload.bpmPrValue","fieldType":"msg","syntax":"mustache","template":"BpmPr ({{payload.bpmPrValue}}) within safe limits","x":610,"y":380,"wires":[["5dad02b7.a252fc"]]},{"id":"8e1706a.f71e8f8","type":"template","z":"258a6e5b.a29e12","name":"danger","field":"payload.bpmPrValue","fieldType":"msg","syntax":"mustache","template":"({{payload.bpmPrValue}})","x":620,"y":420,"wires":[["5dad02b7.a252fc","2770371b.300158"]]},{"id":"2770371b.300158","type":"ibmiot out","z":"258a6e5b.a29e12","authentication":"apiKey","apiKey":"6d597771.99f088","outputType":"cmd","deviceId":"HealthCare","deviceType":"yuvarajdev","eventCommandType":"buzzer","format":"json","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":775.5,"y":447,"wires":[]},{"id":"6d597771.99f088","type":"ibmiot","z":"","name":"iot","keepalive":"60","domain":"","cleansession":true,"appId":"","shared":false}]